<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BRAC</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/css/w3.css') }}">
            
            <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'topNavbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
