{% extends 'base.html.twig' %}
{% block main %}
    <div class="container" style="margin: auto">
        <h1 class="col-lg-12 well">Alta Concesionaria</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form name="form" method="post" action="index.php?controller=Hotel&method=hotelAdd" enctype="multipart/form-data">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" placeholder="Ingrese un nombre" required="true">
                            </div>
                             <div class="col-sm-6 form-group">
                               <dl class="form-group">
                                    <dt><label>Localidad</label></dt>
                                    <dd>
                                        <input name="ciudad" id="ciudad" type="text" placeholder="Ciudad" class="form-control" required="true">    
                                    </dd>
                                    <dd style="margin-top: 3%">
                                        <input name="pais" id="pais" type="text" placeholder="Pais" class="form-control" required="true">    
                                    </dd>
                                </dl>
                            </div>
                        </div>           
                        <div align="center">
                            <button type="submit" class="btn btn-success navbar-btn">Agregar</button>
                            <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}