{% extends 'base.html.twig' %}
{% block main %}
    <div class="container" style="margin-left: 22%">
        <h1 class="col-lg-9 well">Bienvenido {{usuario.nombre}} </h1>
        
        </div>
    </div>
{% endblock %}
