{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="assets/js/roomValidation.js"></script>
{% endblock %}
{% block main %}
    <div class="container" style="margin: auto">
        {% if message %}
            <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endif %}
        <h1 class="col-lg-12 well">Alta de Habitación</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form name="form" method="post" enctype="multipart/form-data" id="roomCreateValidation">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Pais <span id="pais-error" style="color: red"></span></label>
                                <select  class="form-control" name="pais" required="true" id="pais" onchange="ciudadesConHabitaciones(this.id,'ciudad')">
                                    <option disabled selected>Elejí un Pais</option>
                                    {% for country in countries %}
                                        <option value={{country.id}}>{{country.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Ciudad <span id="ciudad-error" style="color: red"></span></label>
                                <select  class="form-control" name="ciudad" required="true" id="ciudad"  onchange="hoteles(this.id,'hotel')" disabled>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Hotel <span id="hotel-error" style="color: red"></span></label>
                                <select  class="form-control" name="hotel" required="true" id="hotel" disabled>
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Precio por persona <span id="precio-error" style="color: red"></span></label>
                                <input type="number" class="form-control" min="0.00"  step="0.01"  id="precio" name="precio" placeholder="Precio por persona" required="true">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Capacidad <span id="capacidad-error" style="color: red"></span></label>
                                <input type="number" class="form-control" min="0.0"  step="0.1" name="capacidad" id="capacidad" placeholder="Capacidad" required="true">
                            </div>

                        </div>           
                        <div align="center">
                            <button type="submit" class="btn btn-success navbar-btn">Agregar</button>
                            <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}