<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
            <ul class="nav navbar-nav">
                <li class="navbar-left"><a href="index.php?controller=Default&method=home"><img src="assets/images/Logo.png" width="100" height="20"></a></li>
                {% if rol == '' %}
                    <li><a href="index.php?controller=Flight&method=flightSearch">Buscar Vuelo</a></li>
                    <li><a href="index.php?controller=Room&method=roomSearch">Buscar Habitacion</a></li>
                    <li><a href="index.php?controller=Car&method=carSearch">Buscar Auto</a></li>
                {% elseif rol == 'administrador' %}
                    <li><a href="index.php?controller=Airline&method=airlineCreate">Alta de Aerolinia</a></li>
                    <li><a href="index.php?controller=Hotel&method=hotelCreate">Alta de Hotel</a></li>
                    <li><a href="index.php?controller=Concessionaire&method=concessionaireCreate">Alta de Concesionaria</a></li>
                    <li><a href="index.php?controller=User&method=userComercialCreate">Alta de Usuario</a></li>
                {% elseif rol == 'comerciante' %}
                    <li><a href="index.php?controller=Flight&method=flightCreate">Alta de Vuelo</a></li>
                    <li><a href="index.php?controller=Room&method=roomCreate">Alta de Habitacion</a></li>
                    <li><a href="index.php?controller=Car&method=carCreate">Alta de Auto</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if rol == '' %}
                    <button type="button" class="btn btn-info navbar-btn" onclick="window.location.href='index.php?controller=User&method=userRegistration'">Registrarme</button>
                    <button type="button" class="btn btn-brac navbar-btn" onclick="window.location.href='index.php?controller=Login&method=login'">Iniciar Sesion</button>
                {% elseif rol == 'cliente' %}
                    <button type="button" class="btn btn-warning navbar-btn" onclick="window.location.href='index.php?controller=Default&controller=Default&method=cartList'">Ver Carrito
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="index.php?controller=User&method=userPurchases">Mis Compras</a></li>
                            <li><a href="index.php?controller=User&method=userInformation">Ver Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="index.php?controller=Login&method=logout">Cerrar Sesion</a></li>
                        </ul>
                    </div>     
                {% elseif rol == 'administrador' %}
                    <button type="button" class="btn btn-warning navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Listado de usuarios:</li>
                        <li><a href="index.php?controller=User&method=usersList&rol=3">Clientes</a></li>
                        <li><a href="index.php?controller=User&method=usersList&rol=2">Comerciales</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="index.php?controller=Login&method=logout">Cerrar Sesion</a></li>
                    </ul>
                {% elseif rol == 'comerciante' %}
                    <button type="button" class="btn btn-warning navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comerciante<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="index.php?controller=Login&method=logout">Cerrar Sesion</a></li>
                    </ul>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>