{% extends 'base.html.twig' %}
{% block main %}
    <div class="container" style="margin-left: 17%">
        <h1 class="col-lg-9 well">Registrarse </h1>
        <div class="col-lg-9 well">
            <div class="row">
                <form name="form" method="post" action="index.php?controller=User&method=userRegistration_check" enctype="multipart/form-data">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre" id="nombre" required />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" name="apellido" placeholder="Apellido" id="apellido" required />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Usuario</label>
                                <input type="text" name="usuario" id="usuario" placeholder="Usuario"  class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Email</label>
                                <input type="email" placeholder="example@BRAC.com" id="email" name="email" class="form-control" required/>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Contrase&ntilde;a</label>
                                <input type="password" name="clave" id="clave" placeholder="Contraseña"  class="form-control" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Tarjeta De Crédito</label>
                                <input type="text" placeholder="xxxx-xxxx-xxxx-xxxx" id="tarjeta" name="tarjeta" pattern="^[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}$" class="form-control" required/>
                            </div>
                            <div class="col-sm-6 form-group">
                            <dl class="form-group">
                                <dt><label>Pregunta Secreta</label></dt>
                                <dd >
                                    <select name="pregunta" id="pregunta" class="form-control">
                                        <option disabled="disabled" selected="selected">Elegí una pregunta</option>
                                        {% for pregunta in preguntas %}
                                            <option value={{pregunta.idPregunta}}>{{pregunta.pregunta}}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                                
                            </dl>
                        </div>

                            <div class="col-sm-4 form-group">
                                <label>Respuesta Secreta</label>
                                <input type="text" placeholder="Respuesta" id="respuesta" name="respuesta"  class="form-control" required/>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn-success navbar-btn">Confirmar</button>
                            <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                        </div>
                        <hr style="margin-top:10px;margin-bottom:10px;" >
                        <div class="form-group" style="margin-bottom: 0vh;">
                            <div style="font-size:85%"> Ya tienes cuenta?
                                <a style="text-decoration: none;" href="index.php?controller=Login&method=login">Inicia Sesion</a>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
