{% extends 'base.html.twig' %}
{% block main %}
    <div class="container" style="margin-left: 17%">
        <div id="alerta-msj" class="alert alert-success alert-dismissible" role="alert" hidden>
          <button id="boton-reset" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <strong>Agregado!</strong> El usuario se dio de alta correctamente.
        </div>
        <h1 class="col-lg-9 well">Alta de usuario Comercial</h1>
        <div class="col-lg-9 well">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre" required />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" placeholder="Apellido" name="apellido" id="apellido" required />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Usuario</label>
                                <input type="text" name="usuario" placeholder="Usuario" id="usuario"  class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Email</label>
                                <input type="email" placeholder="example@flyaway.com" id="email" name="email" class="form-control" required/>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>DNI</label>
                                <input type="number" placeholder="DNI" id="dni" name="dni" class="form-control" required/>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Contrase&ntilde;a</label>
                                <input type="password" name="clave" placeholder="Contraseña" id="clave"  class="form-control" required>
                            </div>
                        </div>
                        <div align="center">
                            <button id="button-comerciante" class="btn btn-success navbar-btn">Confirmar</button>
                            <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}